<div class="banner" style="background-image: linear-gradient(rgba(192,192,192,0.2),rgba(192,192,192,0.2)), url(<%= image_path "main-banner.jpg" %>);">
  <div class="container">
    <h1><span id="banner-typed-text"></span></br>
      Cocktail Recipes!
    </h1>
      <p>Pre-drinks shouldn't be a complicated affair,</br> so we've put together a list of</br> the best and easiest cocktails to make</p>
  </div>
  <div class="container mt-5">
    <h5>Cocktails of the day:</h5>
    <div class="cards">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
        <% @cocktails.each do |cocktail| %>
          <%= link_to cocktail.name, cocktail_path(cocktail) %>
        <% end %>
      </div>
    </div>
  </div>
